@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // Find all pages with document type alias umbNewsOverview
    // We do that using the plural, umbNewsOverviews (note the extra "s" in the end)
    // Then take the first one, as we know there will only be on news overview page
    var newsOverview = homePage.umbNewsOverviews.First();

    // Similar to above: find all pages with document type umbNewsItem under the news overview page
    // Then order them, first by publishDate (a property the editor can explicitly set on the news item)
    // and then by createDate, which is set by Umbraco automatically when a page gets created.
    var newsItems = newsOverview.umbNewsItems.OrderBy("publishDate desc, createDate desc").Take(5);

}
@{ Html.RenderPartial("_banner"); }
<!-- Main -->
<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
                <section>
                    <header>
                        <h2>@pageTitle</h2>
                        <span class="byline">@CurrentPage.byline</span>
                        @if (CurrentPage.HasValue("image"))
                        {
                            <span class="image image-full"><img src="@Umbraco.Media(CurrentPage.image.ToString()).umbracoFile" alt="" /></span>
                        }

                        </header>
                        <article>
                            @foreach (var item in newsItems)
                            {

                                // If the editor has not explicitly provided the "Page title" property page
                                // then just show the name of the page otherwise show the provided title
                                var title = string.IsNullOrWhiteSpace(item.Title)
                                    ? item.Name
                                    : item.Title;


                                // If the editor has not explicitly set the publishDate property then show the create date
                                var dateTime = item.PublishDate == default(DateTime)
                                    ? item.CreateDate
                                    : item.PublishDate;

                                <section>
                                    <h3><a href="@item.Url">@title</a></h3>
                                    <span class="byline">@item.SubHeader</span>
                                    <ul class="meta">
                                        <li class="timestamp">@dateTime.ToString("f")</li>
                                    </ul>

                                    @if (item.HasValue("image"))
                                    {
                                        <a href="@item.Url" class="image image-full"><img src="@Umbraco.Media(item.image.ToString()).umbracoFile" alt="" /></a>
                                    }

                                    @Umbraco.Truncate(item.BodyText, 200)

                                    <a href="@item.Url" class="button">Continue Reading</a>
                                </section>
                            }
                        </article>
                        <!-- /Content -->
                </section>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="4u">
                <section>
                    <header>
                        <h2>@CurrentPage.rightHeader</h2>
                    </header>
                    <div class="row">
                        @CurrentPage.rightText
                    <section class="6u">

                        <ul class="default">
                            <li><a href="#">Donec facilisis tempor</a></li>
                            <li><a href="#">Nulla convallis cursus</a></li>
                            <li><a href="#">Integer congue euismod</a></li>
                            <li><a href="#">Venenatis vulputate</a></li>
                            <li><a href="#">Morbi ligula volutpat</a></li>
                        </ul>
                    </section>
                    <section class="6u">
                        <ul class="default">
                            <li><a href="#">Donec facilisis tempor</a></li>
                            <li><a href="#">Nulla convallis cursus</a></li>
                            <li><a href="#">Integer congue euismod</a></li>
                            <li><a href="#">Venenatis vulputate</a></li>
                            <li><a href="#">Morbi ligula volutpat</a></li>
                        </ul>
                    </section>
                </div>
            </section>
            <section>
                <header>
                    <h2>Mauris vulputate</h2>
                </header>
                <ul class="style">
                    <li>
                        <p class="posted">May 21, 2014  |  (10 )  Comments</p>
                        <p><a href="#">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</a></p>
                    </li>
                    <li>
                        <p class="posted">May 18, 2014  |  (10 )  Comments</p>
                        <p><a href="#">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</a></p>
                    </li>
                </ul>
            </section>
        </div>

    </div>
</div>
</div>
<!-- /Main -->