@using System.Globalization
@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

}
	@{ Html.RenderPartial("_banner"); }
<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
                <section>
                    <header>
                        <h2>@pageTitle</h2>
                        <span class="byline">@CurrentPage.byline</span>
                       
                      
                    </header>

                   @if (CurrentPage.HasValue("Image"))
                   {
                      
                       <img class="image left" src="@Umbraco.Media(CurrentPage.Image.ToString()).GetResponsiveImageUrl(170,0)" alt="sss"/>
                   }

@CurrentPage.bodyText

</section>
                    </div>

            <!-- Sidebar -->
            <div id="sidebar" class="4u">
                <section>
                    <header>
                        <h2>@CurrentPage.rightHeader</h2>
                    </header>
                    <div class="row">
                        @CurrentPage.rightText
                        @{

                            var multiUrlPickerDyn1 = CurrentPage.bulletlist1;
                            if (multiUrlPickerDyn1.Any())
                            {

                                <p>
                                    <ul class="default">
                                        @foreach (var item in multiUrlPickerDyn1)
                                        {
                                            <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>

                                        }

                                    </ul>
                                </p>

                            }
                        }
                        @{
                            var multiUrlPickerDyn2 = CurrentPage.bulletlist2;
                            if (multiUrlPickerDyn2.Any())
                            {
                                <section class="6u">
                                    <ul class="default">
                                        @foreach (var item in multiUrlPickerDyn2)
                                        {
                                            <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                       
                                        }
                   
                                    </ul>
                                </section> 
                            }
                        }

                    </div>
                </section>
				<section>
					@{ Html.RenderPartial("_UpcomingSeminars"); }
				</section>
            </div>

        </div>
    </div>
</div>
<!-- /Main -->