@inherits UmbracoTemplatePage
@{    
    System.Globalization.CultureInfo customCulture = (System.Globalization.CultureInfo)System.Threading.Thread.CurrentThread.CurrentCulture.Clone();
    customCulture.NumberFormat.NumberDecimalSeparator = ".";
    System.Threading.Thread.CurrentThread.CurrentCulture = customCulture;
    }
<script>

    var map;
    var lat = 48.7964474;
    var lng = 2.2716887999999926;
    var myLatlng = new google.maps.LatLng(lat, lng);

    function initialize() {
        var mapOptions = {
            zoom: 14,
            center: myLatlng

        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var contentString = '<div>56 Rue de Fontenay, 92140 Clamart</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Location'
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>
<style>
	/* Google Maps
	********************************/

    .spot-image, .spot-canvas {
        background-color: #FBFBFB;
        height: 200px;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }

    .lt-ie9 .spot-canvas, .lt-ie9 .spot-image {
        margin-bottom: 100px;
        width: 96%;
    }

    .spot-image img {
        height: auto;
        max-width: 100%;
    }

    .featured-padding > span.footer {
        bottom: 120px;
        position: absolute;
    }
</style>

<div id="featured">
    <div class="container">
        <div class="row">
            <section class="4u pull-down">
                <div class="spot-canvas" id="map-canvas"></div>

                <h3>@CurrentPage.headerSpot1</h3>
                <div class="featured-padding">

                    @CurrentPage.bodytextSpot1
                    <span class="footer"><a class="button button-style1" href="@Umbraco.Content(CurrentPage.spot1Link.ToString()).Url">Read more</a></span>
                </div>
            </section>
            <section class="4u pull-down">

                <div class="spot-image" style="position: relative">
                    @if (CurrentPage.HasValue("spot2Image"))
                    {
                        var id = Umbraco.TypedMedia(CurrentPage.GetPropertyValue("spot2Image")).Id;
                        var spotimg2 = Umbraco.TypedMedia((int) id);
                        <img src="@spotimg2.Url" alt="@CurrentPage.headerSpot2"/>
                    }
                </div>

                <h3>@CurrentPage.headerSpot2</h3>
                <div class="featured-padding">
                    @CurrentPage.bodyTextSpot2
                    <span class="footer"><a class="button button-style1" href="@Umbraco.Content(CurrentPage.spot2Link.ToString()).Url">Read more</a></span>
                </div>
            </section>
            <section class="4u pull-down">
                <div class="spot-image" style="position: relative">
                    @if (CurrentPage.HasValue("spot3Image"))
                    {
                        var id = Umbraco.TypedMedia(CurrentPage.GetPropertyValue("spot3Image")).Id;
                        var spotimg3 = Umbraco.TypedMedia((int) id);
                        @*<img src="@spotimg3.GetCropUrl(293)" alt="@CurrentPage.headerSpot3" />*@
                        <img src="@spotimg3.Url" alt="@CurrentPage.headerSpot3"/>
                    }
                </div>
                <h3>@CurrentPage.headerSpot3</h3>
                <div class="featured-padding">
                    @CurrentPage.bodyTextSpot3

                    <span class="footer"><a class="button button-style1" href="@Umbraco.Content(CurrentPage.spot3Link.ToString()).Url">Read more</a></span>
                </div>
            </section>

        </div>
    </div>
</div>